[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notion-client = "*"
python-docx = "*"
pillow = "*"
click = "*"
tqdm = "*"
pydantic = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
black = "*"

[scripts]
tests = "pytest tests/"
format = "black ."
cargar_estudiantes_abp_5to = "python -m utils_cli.cargar_estudiantes_abp_5to"
cargar_historias = "python -m utils_cli.cargar_historias_en_backlog"
descargar_programas_dai = "python -m utils_cli.descargar_programas_dai"
descargar_programas_pdc = "python -m utils_cli.descargar_programas_pdc"
descargar_programas_tics = "python -m utils_cli.descargar_programas_tics"

[requires]
python_version = "3.12"
