[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notion-client = "*"
python-docx = "*"
pillow = "*"
click = "*"
tqdm = "*"
pydantic = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"

[scripts]
"tests" = "pytest test/"

[requires]
python_version = "3.12"
